/* .videoPlayer {
    height: 309px;
} */
.casino-detail {
    padding: 10px 10px 40px;
    background-color: #f8f8fb;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 2px 6px #bcbaba;
}

.teen20casino-container {
    display: flex;
    display: -webkit-flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.grid-use {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 4px;
}
.teen20left,
.teen20right {
    width: 49%;
    display: flex;
}

i {
    cursor: pointer;
}

.color-yellow {
    color: #ef910f !important;
}

.teen20center {
    margin-left: 15px;
    min-width: 2px;
    background-color: #e0e0e0;
}

.casino-box-row {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    padding: 2px 0;
    align-items: center;
    position: relative;
}

.casino-detail .casino-nation-name.no-border {
    background-color: transparent;
    padding: 0;
}

.casino-bl-box-title .playera {
    color: #fc4242;
    font-size: 14px;
    line-height: 22px;
    text-transform: capitalize;
}

.casino-bl-box-title .casino-bl-box-item span {
    width: auto;
}

.casino-bl-box {
    display: flex;
    flex-direction: column;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 24px;
}

.teenpatti20 .casino-bl-box-item {
    width: 100%;
    text-transform: uppercase;
    position: relative;
}

.casino-bl-box-item {
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    color: #0000;
    text-align: center;
    cursor: pointer;
    cursor: not-allowed;
    /* height: 40px; */
}

.last-item {
    margin-right: 0px !important;
}

.casino-bl-box-title .casino-bl-box-item {
    color: #000000;
    height: 24px;
    font-size: 14px;
    flex-direction: row;
}

.casino-bl-box-title .casino-bl-box-item span {
    width: auto;
}

.casino-bl-box-item > span {
    font-size: 12px;
    line-height: 12px;
}

.casino-bl-box-item > span,
.casino-rb-box-player > span {
    display: block;
    width: 100%;
}

.fa-info-circle {
    color: #4a4a4a;
    font-size: 14px;
    margin-bottom: 1px;
}

.icon-range {
    position: absolute;
    top: 100%;
    background-color: #0000;
    padding: 4px;
    max-width: 100%;
    word-wrap: break-word;
    font-size: 12px;
    z-index: 10;
    right: 0;
    transition: 0.1s;
    text-transform: capitalize;
    color: #aaafb5;
    z-index: 150;
}

.casino-bl-box-item:last-child {
    height: 40px !important;
}

.casino-table .back {
    background-color: #72bbef17;
    border: 2px solid #72bbef;
}

.back {
    background-color: #72bbef;
}

.casino-bl-box-item .casino-box-odd,
.casino-rb-box-player .casino-box-odd {
    font-weight: bold;
    font-size: 14px;
    height: 16px;
    line-height: 16px;
    margin-bottom: 2px;
    width: 100%;
    color: #333;
}
.teenpatti20 .casino-bl-box-item .casino-book {
    position: absolute;
    bottom: -20px;
    font-size: 12px;
    color: black;
    line-height: 18px;
}

.icon-range {
    position: absolute;
    top: 100%;
    background-color: #16191c;
    padding: 4px;
    max-width: 100%;
    word-wrap: break-word;
    font-size: 12px;
    z-index: 10;
    right: 0;
    transition: 0.1s;
    text-transform: capitalize;
    color: #aaafb5;
    z-index: 150;
}

.casino-table .back,
.casino-table .lay {
    background-color: transparent;
}

.casino-bl-box-item .casino-box-odd,
.casino-rb-box-player .casino-box-odd {
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    margin-bottom: 2px;
    width: 100%;
    color: #333;
}

.casino-bl-box-item .casino-box-odd {
    font-size: 12px;
}

.casino-rb-box-player .casino-box-odd {
    font-size: 16px !important;
}

.casino-bl-box-title .playerb {
    color: #ef910f;
    font-size: 14px;
    line-height: 22px;
}
.casino-table .back {
    background-color: #72bbef17;
    border: 2px solid #72bbef !important;
}

.casino-book {
    font-size: 18px;
    line-height: 18px;
}

@media only screen and (max-width: 769px) {
    .casino-book {
        font-size: 12px;
        line-height: 18px;
    }

    .font {
        font-weight: 700;
    }

    .casino-bl-box-title .playera {
        font-size: 12px;
    }

    .teen20casino-container {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .mbl-none {
        display: none;
    }

    .teen20center {
        display: none;
    }

    .teen20left {
        width: 100%;
    }

    .casino-bl-box {
        flex-direction: row;
        width: 100%;
        flex-wrap: nowrap;
    }

    .teenpatti20 .casino-bl-box-item:first-child {
        background-color: #ddd;
        margin-right: 0;
        height: 36px;
        justify-content: space-between;
        padding: 0 5px;
    }

    .teen20left:last-child {
        width: 50.5%;
    }

    .casino-box-row {
        justify-content: center;
    }

    .teenpatti20 .casino-bl-box-item .casino-book {
        position: static;
        font-size: 12px;
    }

    .mbl-colum {
        flex-direction: column !important;
    }
    .mbl-colum span {
        line-height: 15px !important;
        margin-bottom: -2px !important;
    }

    .casino-bl-box {
        margin-bottom: 4px;
    }

    .grid-use {
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }
}

@media (min-width: 1279px) and (max-width: 1350px) {
    .grid-use {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 1279px) {
    .casino-detail {
        padding: 5px;
        box-shadow: none;
        border-radius: 0;
    }
    .casino-table {
        box-shadow: none;
        border-radius: 0;
    }
}

.block-768 {
    display: none;
}

@media (max-width: 768px) {
    .block-768 {
        display: block;
    }
}
