
<!-- Modal -->
<div class="modal fade" id="changePassword" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-uppercase">Change Password</h5>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close">×</button>
            </div>
            <div id="__BVID__29___BV_modal_body_" class="modal-body">
                <form data-vv-scope="ChangePassword" method="post">
                    <div class="form-group">
                        <input placeholder="Transaction Code" data-vv-as="Transaction Code" type="password"
                            name="password" id="password" class="form-control" aria-required="true" aria-invalid="true">
                    </div>
                    <div class="form-group">
                        <input placeholder="New Password" type="password" data-vv-as="New Password" name="NewPassword"
                            class="form-control" id="NewPassword" aria-required="false" aria-invalid="false">
                    </div>
                    <div class="form-group">
                        <input placeholder="Confirm New Password" data-vv-as="Confirm Password" type="password"
                            name="ConfirmNewPassword" id="ConfirmNewPassword" class="form-control" aria-required="true" aria-invalid="true">
                    </div>
                    <div class="form-group d-grid gap-2">
                        <button type="submit" class="btn btn-primary btn-block">
                            Change Password
                            <i class="fas fa-chevron-circle-right ms-2"></i>
                        </button>
                    </div>
                </form>
            </div>
           
        </div>
    </div>
</div>