<div>
    <app-video-player></app-video-player>
</div>

<div class="casino-detail">
    <div class="row is-mobile">
        <div class="casino-bl-box">
            <div class="casino-bl-box-item casino-odds-name">
                <b>A. Ina</b>
                <span class="book-black">0</span>
            </div>
            <div class="casino-bl-box-item back">
                <span class="casino-box-odd">0</span>
            </div>
            <div class="casino-bl-box-item lay">
                <span class="casino-box-odd">0</span>
            </div>
        </div>
        <div class="casino-bl-box">
            <div class="casino-bl-box-item casino-odds-name">
                <b>B. Mina</b>
                <span class="book-black">0</span>
            </div>
            <div class="casino-bl-box-item back">
                <span class="casino-box-odd">0</span>
            </div>
            <div class="casino-bl-box-item lay">
                <span class="casino-box-odd">0</span>
            </div>
        </div>
        <div class="casino-bl-box">
            <div class="casino-bl-box-item casino-odds-name">
                <b>C. Dika</b>
                <span class="book-black">0</span>
            </div>
            <div class="casino-bl-box-item back">
                <span class="casino-box-odd">0</span>
            </div>
            <div class="casino-bl-box-item lay">
                <span class="casino-box-odd">0</span>
            </div>
        </div>
        <div class="casino-min-max">
            <div>R:<span>100</span> - <span>300K</span></div>
        </div>
    </div>
    
    <div class="row even-odd-container is-desktop">
        <div class="col-lg-4 col-12 px">
            <div class="casino-box-row">
                <div class="casino-bl-box w-100 title">
                    <b>A. Ina</b>
                </div>
            </div>

            <div class="casino-box-row">
                <div class="casino-bl-box">
                    <div class="casino-bl-box-item back h-40">
                        <span class="casino-box-odd">0</span>
                    </div>
                </div>
                <div class="casino-bl-box">
                    <div class="casino-bl-box-item lay h-40">
                        <span class="casino-box-odd">0</span>
                    </div>
                </div>
                <div class="casino-book w-100">0</div>
            </div>
        </div>
        <div class="col-lg-4 col-12 px">
            <div class="casino-box-row">
                <div class="casino-bl-box w-100 title">
                    <b>B. Mina</b>
                </div>
            </div>

            <div class="casino-box-row">
                <div class="casino-bl-box">
                    <div class="casino-bl-box-item back h-40">
                        <span class="casino-box-odd">0</span>
                    </div>
                </div>
                <div class="casino-bl-box">
                    <div class="casino-bl-box-item lay h-40">
                        <span class="casino-box-odd">0</span>
                    </div>
                </div>
                <div class="casino-book w-100">0</div>
            </div>
        </div>
        <div class="col-lg-4 col-12 px">
            <div class="casino-box-row">
                <div class="casino-bl-box w-100 title">
                    <b>C. Dika</b>
                </div>
            </div>

            <div class="casino-box-row">
                <div class="casino-bl-box">
                    <div class="casino-bl-box-item back h-40">
                        <span class="casino-box-odd">0</span>
                    </div>
                </div>
                <div class="casino-bl-box">
                    <div class="casino-bl-box-item lay h-40">
                        <span class="casino-box-odd">0</span>
                    </div>
                </div>
                <div class="casino-book w-100">0</div>
            </div>
        </div>
        <div class="casino-min-max">
            <div>R:<span>100</span> - <span>300K</span></div>
        </div>
    </div>
    
    <div class="row even-odd-container">
        <div class="col-lg-4 col-12 px">
            <div class="casino-box-row">
                <div class="casino-bl-box">0</div>
                <div class="casino-bl-box">0</div>
            </div>

            <div class="casino-box-row">
                <div class="casino-bl-box">
                    <div class="casino-bl-box-item back">
                        <span class="casino-box-odd">Even</span>
                    </div>
                    <div class="casino-book">0</div>
                </div>
                <div class="casino-bl-box">
                    <div class="casino-bl-box-item back">
                        <span class="casino-box-odd">Odd</span>
                    </div>
                    <div class="casino-book">0</div>
                </div>
            </div>

            <div class="casino-min-max">
                <div>R:<span>100</span> - <span>300K</span></div>
            </div>
        </div>
        <div class="col-lg-4 col-12 px">
            <div class="casino-box-row">
                <div class="casino-bl-box">0</div>
                <div class="casino-bl-box">0</div>
            </div>

            <div class="casino-box-row">
                <div class="casino-bl-box">
                    <div class="casino-bl-box-item back casino-card-img">
                        <span>
                            <img src="/assets/bollywood-casino/spade.png" alt="">
                            <img src="/assets/bollywood-casino/club.png" alt="">
                        </span>
                    </div>
                    <div class="casino-book">0</div>
                </div>
                <div class="casino-bl-box">
                    <div class="casino-bl-box-item back casino-card-img">
                        <span>
                            <img src="/assets/bollywood-casino/heart.png" alt="">
                            <img src="/assets/bollywood-casino/diamond.png" alt="">
                        </span>
                    </div>
                    <div class="casino-book">0</div>
                </div>
            </div>

            <div class="casino-min-max">
                <div>R:<span>100</span> - <span>300K</span></div>
            </div>
        </div>
        <div class="col-lg-4 col-12 px">
            <div class="casino-box-row">
                <div class="casino-bl-box">0</div>
                <div class="casino-bl-box">0</div>
            </div>

            <div class="casino-box-row">
                <div class="casino-bl-box">
                    <div class="casino-bl-box-item back">
                        <span class="casino-box-odd">Under 7</span>
                    </div>
                    <div class="casino-book">0</div>
                </div>
                <div class="casino-bl-box">
                    <div class="casino-bl-box-item back">
                        <span class="casino-box-odd">Over 7</span>
                    </div>
                    <div class="casino-book">0</div>
                </div>
            </div>

            <div class="casino-min-max">
                <div>R:<span>100</span> - <span>300K</span></div>
            </div>
        </div>
    </div>

    <div class="mt-2">
        <div class="text-center w-100">
            <div class="casino-bl-box">
                <div class="casino-bl-box-item">
                    <b>0</b>
                </div>
            </div>
        </div>
        
        <div class="casino-cards text-center mt-1">
            <div class="casino-card-item">
                <div class="card-img">
                    <img src="/assets/bollywood-casino/A.png" alt="">
                </div>
                <div class="casino-book text-center book-black">0</div>
            </div>
            <div class="casino-card-item">
                <div class="card-img">
                    <img src="/assets/bollywood-casino/A.png" alt="">
                </div>
                <div class="casino-book text-center book-black">0</div>
            </div>
            <div class="casino-card-item">
                <div class="card-img">
                    <img src="/assets/bollywood-casino/A.png" alt="">
                </div>
                <div class="casino-book text-center book-black">0</div>
            </div>
            <div class="casino-card-item">
                <div class="card-img">
                    <img src="/assets/bollywood-casino/A.png" alt="">
                </div>
                <div class="casino-book text-center book-black">0</div>
            </div>
            <div class="casino-card-item">
                <div class="card-img">
                    <img src="/assets/bollywood-casino/A.png" alt="">
                </div>
                <div class="casino-book text-center book-black">0</div>
            </div>
            <div class="casino-card-item">
                <div class="card-img">
                    <img src="/assets/bollywood-casino/A.png" alt="">
                </div>
                <div class="casino-book text-center book-black">0</div>
            </div>
            <div class="casino-card-item">
                <div class="card-img">
                    <img src="/assets/bollywood-casino/A.png" alt="">
                </div>
                <div class="casino-book text-center book-black">0</div>
            </div>
            <div class="casino-card-item">
                <div class="card-img">
                    <img src="/assets/bollywood-casino/A.png" alt="">
                </div>
                <div class="casino-book text-center book-black">0</div>
            </div>
            <div class="casino-card-item">
                <div class="card-img">
                    <img src="/assets/bollywood-casino/A.png" alt="">
                </div>
                <div class="casino-book text-center book-black">0</div>
            </div>
            <div class="casino-card-item">
                <div class="card-img">
                    <img src="/assets/bollywood-casino/A.png" alt="">
                </div>
                <div class="casino-book text-center book-black">0</div>
            </div>
            <div class="casino-card-item">
                <div class="card-img">
                    <img src="/assets/bollywood-casino/A.png" alt="">
                </div>
                <div class="casino-book text-center book-black">0</div>
            </div>
            <div class="casino-card-item">
                <div class="card-img">
                    <img src="/assets/bollywood-casino/A.png" alt="">
                </div>
                <div class="casino-book text-center book-black">0</div>
            </div>
            <div class="casino-card-item">
                <div class="card-img">
                    <img src="/assets/bollywood-casino/A.png" alt="">
                </div>
                <div class="casino-book text-center book-black">0</div>
            </div>
        </div>

        <div class="casino-min-max">
            <div>R:<span>100</span> - <span>300K</span></div>
        </div>
    </div>
</div>