<!-- Modal -->
<div
  class="modal fade"
  id="betLockModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Bet Lock</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6"></div>
          <div class="col-6">
            <div class="form-group">
              <input
                type="password"
                name="ulockmpass"
                value=""
                placeholder="Transaction Code"
                class="form-control transaction-input"
              />
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>
                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                    /><label
                    ></label>
                  </div>
                </th>
                <th>All Account</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      name="locku"
                      class="custom-control-input"
                      value="a5eceee4-10d8-4ad8-bf55-4d4b7c864be4"
                      id="__BVID__4887"
                    /><label
                      class="custom-control-label"
                      for="__BVID__4887"
                    ></label>
                  </div>
                </td>
                <td>testdemo</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
