.no-data-available{
    padding: 16px !important;
    background-color: rgb(0,0,0,0.05);
    text-align: center;
}

::ng-deep table tbody tr td.dt-empty{
    display: none !important;
}


.row, .col-md-12 ,.col-12{
    padding-left: inherit !important;
    padding-right: inherit !important;
}

.page-title-box{
    padding: 10px 5px 12px !important;
}

.table-shadow{
    box-shadow: 0 .75rem 1.5rem rgba(18,38,63,.03) !important;
}

@media screen and (max-width: 992px) {
.fadeIn{
    margin-left: -7px !important;
    margin-right: -7px !important;
}
table th, table td{
    white-space: nowrap !important;
}
::ng-deep .dt-container div.dt-layout-row {
    overflow-x: scroll !important;
}
}

@media screen and (min-width: 1279px) {
.table-shadow{
    margin: 0px 1px !important;
}
.page-title-box{
    padding: 0px 0px 24px 1px !important;
}
}