<div class="card card-accent-primary">
  <div class="game-heading">
    <span class="card-header-title">Profit & Loss Events</span>
  </div>
  <div class="card-body account-detail-body">
 <!-- <h2 style="font-size: 22px;margin-bottom: 24px !important " *ngIf="this.isMaster">Profit Loss Events</h2> -->

    <div class="row ">
      <div class="col-12" style="overflow: auto;">
        <div class="table-responsive table table-striped">
          <table datatable [dtOptions]="dtOptions" role="table" aria-busy="false" aria-colcount="6" class="table table-bordered table-striped ">
            <thead role="rowgroup">
              <tr role="row">
                <th>Sport Name</th>
                <th>Event Name</th>
                <th>Profit & Loss</th>
                <th *ngIf="this.isMaster">Downline Profit/Loss</th>
                <th>Commission</th>
                <th *ngIf="!this.isMaster">Total P&L</th>
              </tr>
            </thead>
            <!--                <tfoot *ngIf="rows?.length == 0">-->
            <tr *ngFor="let row of rows;let i=index">
              <!-- <td colspan="6" style="text-align:center;">No data available in table</td> -->
              <td class="border-right-black">
                <a>{{row.sportName}}</a>
              </td>
              <td class="border-right-black">
                <a class="plLink" (click)="goto(row.eventId)">{{row.eventName}}</a>
              </td>
              <td *ngIf="!this.isMaster">
                <span [ngClass]="{'cl-green':row.pl>0,'cl-red':0>=row.pl}"><b>{{row.pl | number : '1.0-2'}}</b></span>
              </td>
              <td *ngIf="this.isMaster">
                <span  [ngClass]="{'cl-red':row.pl>0,'cl-green':0>=row.pl}"><b>{{(convert(row.pl))-(row.commission) | number : '1.0-2'}}</b></span>
              </td>
              <td *ngIf="this.isMaster">
                <span [ngClass]="{'cl-green':row.pl>0,'cl-red':0>=row.pl}"><b>{{convert(row.pl) | number : '1.0-2'}}</b></span>
              </td>
              <td> {{row.commission | number : '1.0-2'}}</td>
              <td *ngIf="!this.isMaster">
                <span [ngClass]="{'cl-green':row.pl>0,'cl-red':0>=row.pl}"><b>{{row.pl | number : '1.0-2'}}</b></span>
              </td>
            </tr>
            <tr class="odd" *ngIf="rows?.length==0">
              <td  class="no-data-available" colspan="10">No matching records found</td>
            </tr>
            <!--                </tfoot>-->
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
